body{
	font-size: 16px;
	color: 000;
	background-color: White;
}

nav.navbar{
	border-bottom: 2px solid black;
}

.navbar-brand h1{
	color: Black;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#collapsable-nav a{
	text-align: center;
}

.mnu-txt{
	background-color: DarkGrey;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}

.mnu-txt h3{
	text-align: center;
}